/* log-div.css */

#log-div {
    font-family:'Courier New', Courier, monospace;
    background-color: #e1e4e8; /*d1d5da*/
    overflow: scroll;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
    margin: 0px;
    width: 100%; /* 50% */
    height: 350px;
}